.form {
  row-gap: 1rem;
  column-gap: 4rem;

  input {
    width: 120px;
    font-size: 20px;
    padding: 0.5rem 0;
    border-radius: 2rem;
    color: white;
    text-align: center;
    grid-column: 2 / 3;
  }
  label {
    color: white;
    font-size: 18px;
  }
}
